/**
 *  brown/red: #67564C
    lite brown: #AFA59F

 *  green/grey: #62B6A9
 *  Light grey: #DEDAD7

     font-family: "Trebuchet MS", sans-serif;

 */


#mapDiv
{
    height: 500px;
	width: 100%;
    margin: 0px auto;
}

html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", sans-serif;
}

body a, .clickableText {
    text-decoration: none;
    color: #67564C;
}

body a:hover, .clickableText:hover {
    font-weight: bold;
    text-decoration: underline;
}

#navDiv {
    text-transform: uppercase;
    width: 100%;
    display: block;
    text-align: center;

    border-top-style: solid;
    border-top-color: #67564C;

    border-bottom-color: #62B6A9;
    border-bottom-style: solid;
}

#navDiv ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navDiv ul li {
    display: inline-block;
    text-align: center;
    width: 18%;
    padding-top: 12px;
    padding-bottom: 12px;
}

#headingDiv {
    text-align: center;
    vertical-align: middle;
    margin-left: 15%;
    margin-bottom: 20px;
}

#headingDiv div {
    display: table-cell;
    vertical-align: middle;
}

#logoDiv {
}

#descriptionDiv {
    font-size: xx-large;
    font-style: italic;
    text-align: left;
    padding-left: 5%;
    padding-right: 10%;
    color: #62B6A9;
}

#socialMediaDiv {
    text-align: right;
}

#socialMediaDiv ul {
    list-style-type: none;
}

#searchDiv {
    background-color: #AFA59F;
    color: white;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

#streetAddressInput {
    width: 40%;
	font-family: "Trebuchet MS", sans-serif;
	font-size: larger;
	background-color: #DEDAD7;
	border-style: none;
	color: #67564C;
}

#resultDiv {
    display: none;
}

.table {
}

.button {
	background-color: #67564C;
	font-size: larger;
	font-family: "Trebuchet MS", sans-serif;
	border-style: none;
	color: #DEDAD7;
}

.tableHeaderRow {
    background-color: #AFA59F;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.tableHeaderCell {
    vertical-align: middle;
}

.tableRow {
}

.tableRowOdd {
    background-color: #DEDAD7;
}

.tableHeaderCell, .tableCell {
    display: inline-table;
    width: 20%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#mapKeyDiv {
    height: 66px;
    background-color: #DEDAD7;
    padding: 0;
    margin: 0;
}

#mapKeyDiv ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

#mapKeyDiv li {
    display: inline-table;
    width: 23%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

#mapKeyDiv li img {
    vertical-align: middle;
    margin-right: 10px;
}

.mapKeyLabel {
    background-color: #AFA59F;
    height: 100%;
    line-height: 66px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.textContentDiv {
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.centeredText {
    text-align: center;
}

#locationDiv, .viewRowDiv {
    width: 90%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

#locationInfoDiv {
    width: 25%;
    display: inline-table;
}

#locationInfoDiv li {
    list-style: none;
    margin-bottom: 10px;
}

#locationInfoDiv .locationInfoLabel, .viewKey {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    color: #67564C;
}

#locationInfoDiv .locationInfoValue, #viewAddressValue, #viewTypeValue {
    display: block;
    text-transform: capitalize;
    color: #62B6A9;
}

.viewValue {
    padding-bottom: 10px;
}

#locationForm {
    display: inline-table;
    width: 70%;
}

#locationForm .locationFormField {
    margin-bottom: 10px;
}

.errorlist {
    display: inline-table;
    list-style: none;
    border-style: dashed;
    border-width: 1px;
    border-color: #67564C;
    background-color: #DEDAD7;
    margin: 0;
    padding: 0;
    font-style: italic;
    font-weight: bolder;
}

.errorlist li {
    margin: 0;
    padding: 0;
    display: inline;
}

.locationFormField label {
    text-transform: uppercase;
    font-weight: bold;
    color: #67564C;
}

#locationSubmitField {
    padding-top: 10px;
}

#locationForm #id_description {
    width: 50%;
}

.viewColumnDiv {
    width: 30%;
    display: inline-table;
}

#viewEditLinkDiv {
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
}

#viewPictureValue img {
    max-height: 200px;
    max-width: 200px;
    border: solid;
}

.addressText {
    text-transform: capitalize;
}

#footerDiv {
    border-top-color: #62B6A9;
    border-top-style: solid;
}

.linkSpan {
    color: white;
}

.linkSpan :hover{
    text-decoration-line: underline;
}

#showHideResultDivLink {
    display: none;
}

#twitter {
    text-align: center;
}