{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="textContentDiv">
        <h1>What is Reclaim Philly?</h1>

        <p>Reclaim Philly is a vacant property tracking application that aggregates known public data with crowd-sourced
            information to create a more complete, dynamic database of Philadelphia’s vacant properties.</p>

        <p>Philadelphia has a vacant property crisis: A recent study commissioned by the Philadelphia Association of
            Community Development Corporations (PACDC) and the Philadelphia Redevelopment Authority estimates that there
            are at least 40,000 vacant properties in the city.</p>

        <ul>
            <li>These blighted properties costs the city over $20 million a year to maintain</li>
            <li>Property values across the City are reduced by at least $3.6 billion as a result of this blight.</li>
            <li>25% or about 10,000 of these properties are owned by a number of public agencies.</li>
            <li>The other 75% of vacant properties are in private hands, and largely undocumented, with no centralized
                database.
            </li>
        </ul>

        <p>Reclaim Philly is a platform that will use web and mobile applications to aggregate existing publicly
            accessible data alongside citizen and community organization reported information (data and photos) about
            vacant properties in their neighborhoods. Reclaim Philly will be a centralized database that can not only
            map the instances of vacancy, but also pull from the other public data sets to create a complete profile of
            Philly's vacant land - ownership, parcel size, liens, crime, zoning, taxes, and more.</p>

        <p>Reclaim Philly will also be a platform for people to connect and organize around vacant property in their
            community by providing information on how to access these vacant properties. This may be through
            Philadelphia’s system for vacant property disposition, petitioning for foreclosure for tax delinquency, or
            through new tools. We will partner with other groups engaged in short-term and long-term plans for reuse to
            further engage people about efforts to revitalize their neighborhoods and how they can help while also
            providing a resource to the media and reporters to see how vacancy and blight is affecting our City.
            Individuals will not only find a conduit for their desire to improve their neighborhoods but entire
            communities will now be able to plan around how these properties are reused.</p>

        <p>While we are targeting all Philadelphians, we will provide local neighborhood groups with incentives to
            participate: the ability to define their area and download our data sets in map-ready forms (via standard or
            well documented formats/APIs). We hope that this will provide additional motivation to participate in areas
            that have limited access to mobile phones with app capability. We also plan to work to integrate it and make
            it compatible with key city systems to increase the value this data and tracking can provide to City
            government.</p>

        <p>We know the time is right for Reclaim Philly because our City is experiencing a renewed spirit of community
            investment and concern for our vacant land. Reclaim Philly will be an innovative tool available to citizens,
            community groups, city government, and the press to help fully understand the scope of our City's vacant
            property problem for the first time and turn the vacant parcels from one our communities’ biggest problems
            into one our biggest assets.</p>
    </div>

    <div class="textContentDiv">
        <h1>What is the project road map?</h1>
        <p>The plan below is tentative and prone to change based on time (we are a volunteer project afterall) and the feedback we get.</p>
        <ul>
            <li>July 2013</li>
            <ul>
                <li>Web
                    <ul>
                        <li>Release public beta</li>
                        <li>Fix bugs</li>
                        <li>Import known data sets</li>
                        <li>Develop crowd-sourcing controls</li>
                        <li>Document and clean code</li>
                    </ul>
                </li>
                <li>Android and iPhone/iPad
                    <ul>
                        <li>Develop betas</li>
                        <li>Pilot privately with community groups and community development corporations</li>
                    </ul>
                </li>
            </ul>
            <li>August 2013</li>
            <ul>
                <li>Web
                    <ul>
                        <li>Fix bugs</li>
                        <li>Refine/tune crowd-source controls</li>
                    </ul>
                </li>
                <li>Android
                    <ul>
                        <li>Release public beta</li>
                        <li>Fix bugs</li>
                    </ul>
                </li>
                <li>iPhone/iPad
                    <ul>
                        <li>Continue private beta</li>
                        <li>Fix bugs</li>
                        <li>Ensure compatibility with iOS 7</li>
                    </ul>
                </li>
            </ul>
            <li>September-December 2013</li>
            <uL>
                <li>Release v1.0 of all platforms!</li>
                <li>Start work on v2.0 on Reclaim Philly</li>
                <ul>
                	<li>Add parcel data and mapping</li>
                    <li>Refine user interfaces</li>
                    <li>Explore better integration with public APIs, data sources, and other community projects</li>
                    <li>Make sure the Reclaim Cities engine is decoupled from Philadelphia and easy to use/configure with other cities</li>
                </ul>
            </uL>
            <li>2014</li>
            <ul>

            </ul>
        </ul>
    </div>

    <div class="textContentDiv">
        <h1>Who is working on this?</h1>
        <p>The project grew out of a <a href="http://brigade.codeforamerica.org/codeacross" target="_new">Code for
            America Hackathon in 2012</a> and is currently a work in progress between the
            <a href="http://pacdc.org" target="_new">Philadelphia Association of Community Development Corporations</a>
            (PACDC)</a> and volunteer programming and design professionals.
            Following <a href="http://codeforamerica.org" target="_new">Code for America</a>'s philosophy, we're
            developing the software as open source and hope to be able to
            enable other cities to take or build on our successful work.</p>
        <h2>Core Team</h2>
        <ul>
            <li>Garrett O'Dwyer: Vacant property and Philadelphia guru (at PACDC)</li>
            <li><a href="http://twitter.com/gerryosullivan" target="_new">Ger O'Sullivan</a>: Software developer for Android application</li>
            <li><a href="http://twitter.com/plusjeff" target="_new">Jeff Maher</a>: Software developer for web application</li>
            <li><a href="http://twitter.com/scaba" target="_new">Joe Francia</a>: Software developer for iOS application</li>
            <li>Mira Nersesova: User experience designer</li>
        </ul>

        <h2>Folks and groups that made this possible</h2>
        <ul>
            <li>Rob Jefferson: Giver of good advice and keeper of the domain.</li>
            <li>Our partners at <a href="http://brigade.codeforamerica.org/codeacross" target="_new">Code Across America</a> Philly 2012: For helping to dream up the idea and starting an early prototype.</li>
            <li>Robin Schaufler: Got the team back together after the Code Across hackathon.</li>
            <li><a href="http://openstreetmaps.org" target="_new">OpenStreetMaps</a>: A cool Wikipedia-like mapping platform that acts as the backbone of our mapping application.</li>
            <li><a href="http://leafletjs.com" target="_new">Leaflet</a>: A very cool and usable Javascript library that makes using OpenStreetMap sooooo much simpler. Saved us oodles of time.</li>
            <li><a href="http://maps.stamen.com" target="_new">Stamen Designs</a>: These guys make great map tile sets -- and <em>donate</em> them to the community! We use the Terrain tile set.</li>
            <li><a href="http://geoservices.tamu.edu" target="_new">Texas A&amp;M Geoservices</a>: They help make the hard task of geocoding easy (this is converting an address to latitude and longitude)!</li>
        </ul>
    </div>


{% endblock %}