{% extends "base.html" %}

{% block header %}
    <script type="text/javascript">

        var latitude =
                {% if form.latitude.value %}
                    "{{ form.latitude.value }}"
                {% endif %}
        {% if not form.latitude.value %}
            "{{ latitude|default_if_none:"" }}"
        {% endif %};

        var longitude =
                {% if form.longitude.value %}
                    "{{ form.longitude.value }}"
                {% endif %}
        {% if not form.longitude.value %}
            "{{ longitude|default_if_none:"" }}"
        {% endif %};


        // Page level variables
        var rcMap;
        var point = {
            type: "Point",
            coordinates: [latitude, longitude]
        };

        $(document).ready(function () {
            rcMap = RC.map("mapDiv");
            rcMap.addMarker(point);
            rcMap.focus(point, 18);
        });
    </script>

{% endblock header %}

{% block content %}

    <div id="locationDiv">
        <div id="locationInfoDiv">
            <ul>
                <li>
                    <span class="locationInfoLabel">Address</span>
                        <span class="locationInfoValue">
                            {% if form.address.value %}
                                {{ form.address.value }}
                            {% endif %}
                            {% if not form.address.value %}
                                {{ address|default_if_none:"(missing)" }}
                            {% endif %}
                        </span>
                </li>
                <li>
                    <span class="locationInfoLabel">Latitude</span>
                        <span class="locationInfoValue">
                            {% if form.latitude.value %}
                                {{ form.latitude.value }}
                            {% endif %}
                            {% if not form.latitude.value %}
                                {{ latitude|default_if_none:"(missing)" }}
                            {% endif %}
                        </span>
                </li>
                <li>
                    <span class="locationInfoLabel">Longitude</span>
                        <span class="locationInfoValue">
                            {% if form.longitude.value %}
                                {{ form.longitude.value }}
                            {% endif %}
                            {% if not form.longitude.value %}
                                {{ longitude|default_if_none:"(missing)" }}
                            {% endif %}
                        </span>
                </li>
            </ul>
        </div>

        <form id="locationForm" action="/add/location" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {# TODO Document what is going on in here #}
            <input type="hidden" name="{{ form.address.html_name }}"
                    {% if form.address.value %}
                   value="{{ form.address.value }}"
                    {% endif %}
                    {% if not form.address.value %}
                   value="{{ address|default_if_none:"" }}"
                    {% endif %}
                    />
            <input type="hidden" name="{{ form.latitude.html_name }}"
                    {% if form.latitude.value %}
                   value="{{ form.latitude.value }}"
                    {% endif %}
                    {% if not form.latitude.value %}
                   value="{{ latitude|default_if_none:"" }}"
                    {% endif %}
                    />
            <input type="hidden" name="{{ form.longitude.html_name }}"
                    {% if form.longitude.value %}
                   value="{{ form.longitude.value }}"
                    {% endif %}
                    {% if not form.longitude.value %}
                   value="{{ longitude|default_if_none:"" }}"
                    {% endif %}
                    />

            <div class="locationFormField">
                {{ form.lot_type.label_tag }} (required)
                {{ form.lot_type }}
                {{ form.lot_type.errors }}
            </div>

            <div class="locationFormField">
                {{ form.description.label_tag }}
                {{ form.description }}
                {{ form.description.errors }}
            </div>

            <div class="locationFormField">
                {{ form.picture.label_tag }}
                {{ form.picture }}
                {{ form.picture.errors }}
			</div>

            <div id="locationSubmitField">
                <input type="submit" value="Add Location"/>
                <a href="/map" class="cancelLink">Cancel</a>
            </div>
        </form>
    </div>

    <div id="mapDiv"></div>

{% endblock content %}
