<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}

	{% comment %}
	SET JS VARIABLES

	Since we probalby don't want to server JS files through a Django view
	we can set some variables there that will be available to the loaded JS files.
	I namespaced them so they don't interfere with anything
	{% endcomment %}
    <script type="text/javascript">
        var reclaim = {
			'globals': {
            	'STATIC_URL': '{% static '' %}'
            }
        };
    </script>

	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/reclaimcities.css' %}" />

	<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
	<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.4"></script>

	<script src="{% static 'js/jquery/jquery-1.8.3.min.js' %}"></script>
    <script src="{% static 'js/jquery/jQuery.XDomainRequest.js' %}"></script>
    <script src="{% static 'js/reclaimcities.js' %}"></script>

    {% block header %}{% endblock %}

</head>

<body>

{% block nav %}
<div id="navDiv">
    <ul>
		<li>
{#			<img src="{% static 'images/logo-pin-small.png' %}"/> #}
			Reclaim Philly
		</li>
        <li><a class="navItem" href="/map">Map</a></li>
        <li><a class="navItem" href="/about">About</a></li>
        <li><a class="navItem" href="/help">Help</a></li>
    </ul>
</div>
{% endblock nav %}

{% block content %} {% endblock %}

{% block footer %}
<div id="footerDiv">
    <p>The Reclaim Cities engine was originally developed by <a href="http://www.pacdc.org/" target="_pacdc">PACDC</a> and volunteers. Feel free to <a href="http://github.com/ReclaimCities" target="_github">use our code</a> for your city.</p>
    <p><a href="http://openstreetmaps.org" target="_new">Map by OpenStreetMap</a> - <a href="http://geoservices.tamu.edu" target="_new">Geocoding by Texas A&amp;M Geoservices</a>
    <p>Feedback on the beta? E-mail us at <a href="mailto:beta@reclaimphilly.org">beta@reclaimphilly.org</a></p>
</div>
{% endblock footer %}

</body>
</html>
