{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="textContentDiv">
        <h1>Coming Soon</h1>
        <p>
            More detailed content and links will be put up here towards the end of the summer. For now,
            check out some of the cool groups that are addressing the vacant
            land problem in Philadelphia.
        </p>

        <ul>
            <li><a href="http://www.phillylandbank.org/" target="_new">Philly Land Bank</a>: Information about upcoming legislation that could make it easier to turn-around vacant properties.</li>
            <li><a href="http://www.groundedinphilly.org/" target="_new">Grounded in Philly</a>: Great site cataloging and helping communities to organize around vacant lots (i.e. not buildings).</li>
            <li><a href="http://thepossiblecity.com/" target="_new">Possible City</a>: Has lotXlot, a promising prototype for a site that might help re-imagine how vacant properties can be used or developed.</li>
            <li><a href="http://www.blissbit.org/" target="_new">Blissbit</a>: A group exploring solutions for the vacant land problem and helping to connect groups similarly tackling the issue.</li>
        </ul>
    </div>
{% endblock %}