{% extends "base.html" %}

{% block header %}
    <script type="text/javascript">

        var latitude =
                {% if form.latitude.value %}
                    "{{ form.latitude.value }}"
                {% endif %}
                {% if not form.latitude.value %}
                    "{{ latitude|default_if_none:"" }}"
                {% endif %};

        var longitude =
                {% if form.longitude.value %}
                    "{{ form.longitude.value }}"
                {% endif %}
                {% if not form.longitude.value %}
                    "{{ longitude|default_if_none:"" }}"
                {% endif %};


        // Page level variables
        var rcMap;
        var point = {
            type: "Point",
            coordinates: [latitude, longitude]
        };

        $(document).ready(function () {
            rcMap = RC.map("viewAddMapDiv");
            rcMap.addBigMarker(point);
            rcMap.focus(point, 15);
        });
    </script>

{% endblock header %}

{% block content %}

    <div id="contentDiv">
        <div class="viewRowDiv">
			<div class="viewColumnDiv">
				<div id="viewAddressKey" class="viewKey">Address</div>
				<div id="viewAddressValue" class="viewValue">
					{{ form.address.value }}
				</div>

				<div id="viewLatitudeKey" class="viewKey">Latitude</div>
				<div id="viewLatitudeValue" class="viewValue">
					{{ form.address.value }}
				</div>
				<div id="viewLongitudeKey" class="viewKey">Longitude</div>
				<div id="viewLongitudeValue" class="viewValue">
					{{ form.longitude.value }}
				</div>

				<form id="locationForm" action="/update/location/{{ id }}" method="post" enctype="multipart/form-data">
					{% csrf_token %}

					<input type="text" name="id" hidden value="{{ id }}"/>

					<div id="viewTypeKey" class="viewKey">Type (required)</div>
					<div class="viewValue">
						{{ form.lot_type }}
						{{ form.lot_type.errors }}
					</div>

					<div id="viewDescriptionKey" class="viewKey">Description</div>
					<div class="viewValue">
						{{ form.description }}
						{{ form.description.errors }}
					</div>

					<div id="viewPictureKey" class="viewKey">Picture</div>
					<div class="viewValue">
						{{ form.picture }}
						{{ form.picture.errors }}
					</div>

					<div id="locationSubmitField">
						<input type="submit" class="button" value="Update Location"/>
						<a href="/location/{{ id }}" class="cancelLink">Cancel</a>
					</div>
				</form>
			</div>
			<div class="viewColumnDiv">
				<div class="viewKey">Map Location</div>
				<div id="viewAddMapDiv"></div>
			</div>
		</div>
    </div>

{% endblock content %}
