{% extends "base.html" %}

{% block header %}
    <script type="text/javascript">

        // Page level variables
        var rcMap;
        var point = {
            type: "Point",
            coordinates: [{{ location.latitude }}, {{ location.longitude }}],
            properties: {
                lot_type: "{{ location.lot_type }}"
            }
        };

        $(document).ready(function () {
            rcMap = RC.map("viewAddMapDiv");
            rcMap.addBigMarker(point);
            rcMap.focus(point, 15);
        });


    </script>

{% endblock header %}

{% block content %}

	<div id="contentDiv">
		<div class="viewRowDiv">
			<div class="viewColumnDiv">
				<div id="viewAddressKey" class="viewKey">Address</div>
				<div id="viewAddressValue" class="viewValue">{{ location.address }}</div>

				<div id="viewTypeKey" class="viewKey">Type</div>
				<div id="viewTypeValue" class="viewValue">
					{% if location.lot_type == "nrs" %}
						Non-residential
					{% elif location.lot_type == "res" %}
						Residential
					{% elif location.lot_type == "lot" %}
						Lot
					{% else %}
						(Unknown)
					{% endif %}
				</div>

				<div id="viewDescriptionKey" class="viewKey">Description</div>
				<div id="viewDescriptionValue" class="viewValue">{{ location.description }}</div>

				<div id="viewPictureKey" class="viewKey">Picture</div>
				<div id="viewPictureValue" class="viewValue">
					{% if location.picture %}
						<img src="/media/{{ location.picture }}" alt="Property picture">
					{% endif %}
					{% if not location.picture %}
						(no picture(s) loaded yet) <!--TODO Add a filler picture to indicate nothing has been loaded -->
					{% endif %}
				</div>

			</div>
			<div class="viewColumnDiv">
				<div id="viewDescriptionKey" class="viewKey">Map Location:</div>
				<div id="viewAddMapDiv" class="viewAddMapDiv"></div>
			</div>
			<div id="viewEditLinkDiv">
				<a href="/update/location/{{ location.id }}">
					<button class="button">Edit Location</button>
				</a>
			</div>
		</div>
	</div>


{% endblock content %}
